
@-webkit-keyframes intro {
	0% {
		opacity: 1;
		-webkit-transform: scale(0.8);
	}
	100% {
		opacity: 0.85;
		-webkit-transform: scale(1);
	}
}

div#sds-login-dialog-form {
	-webkit-animation: intro 1s ease-in-out;
	width: 350px;
	opacity: 0.85;
	margin: 10% auto;
	background-image: linear-gradient(top, #FFF 50%, #EEE 50%);
	background-image: -o-linear-gradient(top, #FFF 50%, #EEE 50%);
	background-image: -moz-linear-gradient(top, #FFF 50%, #EEE 50%);
	background-image: -webkit-linear-gradient(top, #FFF 50%, #EEE 50%);
	background-image: -ms-linear-gradient(top, #FFF 50%, #EEE 50%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#121212),
		to(#471211)
	); 
	border: 1px solid #fcb614;
	border-radius: 10px;
	box-shadow: 10px 5px 20px #333;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
div#sds-login-dialog-form:hover {
	opacity: 1;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
div#sds-login-dialog-form div {
	padding: 20px;
	margin: 0px;
}
div#login-form div {
	position: relative;
	width: 80%;
	height: 20px;
	margin: 10px auto;
}
div#login-form div input {
	margin: 0px;
	width: 150px;
	color: #000;
	outline: none;
	font-size: 10pt;
	background: #fff;
	padding: 5px 5px 5px 10px;
	border: 1px solid #7d6e38;	
	border-radius: 3px;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
div#login-form div.username input {
	padding-left: 30px;
	background: url(icones/icone-user_hover.png) no-repeat left center  #bfab61;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
div#login-form div.username input:hover, div#login-form div.username input:focus {
	padding-left: 30px;
	color: #000;
	background: url(icones/icone-user.png) no-repeat left center  #fff;
	border: 1px solid #471211;
	box-shadow: 0px 0px 15px #471211;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
div#login-form div.passwd input {
	padding-left: 30px;
	background: url(icones/icone-password_hover.png) no-repeat left center  #bfab61;
	transition: all 300ms ease;color:#000;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
div#login-form div.passwd input:hover, div#login-form div.passwd input:focus {
	padding-left: 30px;
	color: #000;
	background: url(icones/icone-password.png) no-repeat left center  #fff;
	border: 1px solid #471211;
	box-shadow: 0px 0px 15px #471211;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
div#login-form p input#login_submit, div#login-form p input[type='checkbox'] {
	margin: 0px;
	font-size: 10pt;
	background: red;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
div#login-form p input[type='checkbox'] {
	padding: 0px;
	width: auto;
	cursor: pointer;
} 
div#login-form div.checkbox label {
	font-size: 9pt;
	color: #000;
	cursor: pointer;
	text-shadow: 1px 1px 0px #fff;
}
div#login-form div.checkbox label:hover, div#login-form div.checkbox label:active, div#login-form div.checkbox label:focus {
	color: #471211;
}
div#login-form div.login {
	width: 70%;
}
div#login-form div.mahome {
	width: 12%;
}
div#login-form div.login input#login_submit {
	width: 100px;
	position: absolute;
	right: 0px;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 0px #ffca13;
	background-image: linear-gradient(top, #ffa73e 50%, #ff9101 50%);
	background-image: -o-linear-gradient(top, #ffa73e 50%, #ff9101 50%);
	background-image: -moz-linear-gradient(top, #ffa73e 50%, #ff9101 50%);
	background-image: -webkit-linear-gradient(top, #ffa73e 50%, #ff9101 50%);
	background-image: -ms-linear-gradient(top, #ffa73e 50%, #ff9101 50%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#8e181b),
		to(#471211)
	); 
	border: 1px solid #ffca13;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
div#login-form div.login input#login_submit:hover, div#login-form div.login input#login_submit:active, div#login-form div.login input#login_submit:focus {
	color: #ffca13;
	text-shadow: 1px 1px 0px #49a1f0;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}

